<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaoyili.dao.AlbumMapper">
  <resultMap id="BaseResultMap" type="com.yaoyili.model.Album">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="artistId" jdbcType="BIGINT" property="artistId" />
    <result column="picUrl" jdbcType="VARCHAR" property="picUrl" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="play" jdbcType="BIGINT" property="play" />
  </resultMap>
  <sql id="Base_Column_List">
    id, artistId, picUrl, name, author, company, play
  </sql>

  <select id="total" resultType="java.lang.Integer">
    select count(*)
    from album
  </select>

  <select id="selectRank" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, author, picUrl, play
    from album
    ORDER BY play DESC limit #{n,jdbcType=INTEGER}
  </select>

  <select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from album
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!--不用加索引-->
  <select id="selectCollections" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from album natural join album_collect
    where album.id = album_collect.aid and album_collect.uid = #{uid,jdbcType=BIGINT}
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from album
    where name like "%"#{name,jdbcType=VARCHAR}"%"
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from album
    <where>
      <if test="name != null">
        name like "%"#{name,jdbcType=VARCHAR}"%"
      </if>
      <if test="artistId != -1">
        and artistId = #{artistId,jdbcType=BIGINT}
      </if>
    </where>
    <if test="offset != -1">
      limit #{offset, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectByAid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, artistId, name, author, picUrl
    from album
    where artistId = #{id,jdbcType=BIGINT}
  </select>

  <delete id="delete" parameterType="java.lang.Long">
    delete from album
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByArtist" parameterType="java.lang.Long">
    delete from album
    where artistId = #{aid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.yaoyili.model.Album">
    insert into album
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="artistId != null">
        artistId,
      </if>
      <if test="picUrl != null">
        picUrl,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="company != null">
        company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="artistId != null">
        #{artistId,jdbcType=BIGINT},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.yaoyili.model.Album">
    update album
    <set>
      <if test="picUrl != null">
        picUrl = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updatePlayTimes">
    update album
    set play = #{times,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateIncr">
    update album
    set play = play + #{incr,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>