<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaoyili.dao.ArtistCollectMapper">
  <resultMap id="BaseResultMap" type="com.yaoyili.model.ArtistCollectKey">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <id column="aid" jdbcType="BIGINT" property="aid" />
  </resultMap>

  <select id="check" parameterType="com.yaoyili.model.ArtistCollectKey" resultMap="BaseResultMap">
    select * from artist_collect
    where uid = #{uid,jdbcType=BIGINT}
      and aid = #{aid,jdbcType=BIGINT}
  </select>

  <delete id="delete" parameterType="com.yaoyili.model.ArtistCollectKey">
    delete from artist_collect
    where uid = #{uid,jdbcType=BIGINT}
      and aid = #{aid,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByArtist" parameterType="java.lang.Long">
    delete from artist_collect
    where aid = #{aid,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUser" parameterType="java.lang.Long">
    delete from artist_collect
    where uid = #{uid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.yaoyili.model.ArtistCollectKey">
    insert into artist_collect (uid, aid)
    values (#{uid,jdbcType=BIGINT}, #{aid,jdbcType=BIGINT})
  </insert>

</mapper>