<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaoyili.dao.SheetCollectMapper">
  <resultMap id="BaseResultMap" type="com.yaoyili.model.SheetCollectKey">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <id column="sid" jdbcType="BIGINT" property="sid" />
  </resultMap>

  <select id="check" parameterType="com.yaoyili.model.SheetCollectKey" resultMap="BaseResultMap">
    select * from sheet_collect
    where uid = #{uid,jdbcType=BIGINT}
      and sid = #{sid,jdbcType=BIGINT}
  </select>

  <delete id="delete" parameterType="com.yaoyili.model.SheetCollectKey">
    delete from sheet_collect
    where uid = #{uid,jdbcType=BIGINT}
      and sid = #{sid,jdbcType=BIGINT}
  </delete>

  <delete id="deleteBySheet" parameterType="java.lang.Long">
    delete from sheet_collect
    where sid = #{sid,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByUser" parameterType="java.lang.Long">
    delete from sheet_collect
    where uid = #{uid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.yaoyili.model.SheetCollectKey">
    insert into sheet_collect (uid, sid)
    values (#{uid,jdbcType=BIGINT}, #{sid,jdbcType=BIGINT})
  </insert>

</mapper>