<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaoyili.dao.SheetMapper">
  <resultMap id="BaseResultMap" type="com.yaoyili.model.Sheet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="songNum" jdbcType="INTEGER" property="songNum" />
    <result column="picUrl" jdbcType="VARCHAR" property="picUrl" />
    <result column="s" jdbcType="TINYINT" property="s" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yaoyili.model.Sheet">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>

  <sql id="Base_Column_List"> id, name, uid, songNum, picUrl, s</sql>
  <sql id="Blob_Column_List"> description </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select *
    from sheet
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectCollections" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sheet natural join sheet_collect
    where sheet.id = sheet_collect.sid and sheet_collect.uid = #{uid,jdbcType=INTEGER}
  </select>

  <select id="selectPublic" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select *
    from sheet
    where id = #{id,jdbcType=INTEGER} and s = 1
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sheet
    where name like "%"#{name,jdbcType=VARCHAR}"%" and s = 1
  </select>

  <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sheet
    where uid = #{uid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sheet
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.yaoyili.model.Sheet">
    insert into sheet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="songNum != null">
        songNum,
      </if>
      <if test="picUrl != null">
        picUrl,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="s != null">
        s,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="songNum != null">
        #{songNum,jdbcType=INTEGER},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="s != null">
        #{s,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaoyili.model.Sheet">
    update sheet
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="songNum != null">
        songNum = #{songNum,jdbcType=INTEGER},
      </if>
      <if test="picUrl != null">
        picUrl = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="s != null">
        s = #{s,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>