<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaoyili.dao.SongMapper">

  <resultMap id="BaseResultMap" type="com.yaoyili.model.Song">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="albumId" jdbcType="INTEGER" property="albumId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mUrl" jdbcType="VARCHAR" property="mUrl" />
  </resultMap>

  <resultMap id="ResponseMap" type="com.yaoyili.controller.resbeans.SongResponse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="albumId" jdbcType="INTEGER" property="albumId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mUrl" jdbcType="VARCHAR" property="mUrl" />
    <result column="albumName" jdbcType="VARCHAR" property="albumName" />
    <result column="albumUrl" jdbcType="VARCHAR" property="albumUrl" />
    <result column="artistId" jdbcType="INTEGER" property="artistId" />
    <result column="author" jdbcType="VARCHAR" property="author" />
  </resultMap>

  <sql id="Base_Column_List">
    id, albumId, name, mUrl
  </sql>

  <select id="total" resultType="java.lang.Integer">
    select count(*)
    from song
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from song
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from song
    where name like "%"#{name,jdbcType=VARCHAR}"%"
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from song
    <where>
      <if test="name != null">
        name like "%"#{name,jdbcType=VARCHAR}"%"
      </if>
      <if test="albumId != -1">
        and albumId = #{albumId,jdbcType=INTEGER}
      </if>
    </where>
    <if test="offset != -1">
      limit #{offset, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectByAlbum" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from song
    where albumId = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByArtist" parameterType="java.lang.Integer" resultMap="ResponseMap">
    SELECT song.id as id, song.albumId as albumId, song.`name` as name, song.`mUrl` as mUrl, album.`name` as albumName,
	album.`picUrl` as albumUrl, album.artistId as artistId, artist.`name` as author
    FROM `artist` JOIN `album` JOIN `song`
    WHERE #{id,jdbcType=INTEGER} = artist.id AND album.artistId = artist.id AND album.id = song.albumId
  </select>

  <select id="selectBySheet" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from song join sheet_song
    where sheetid = #{id,jdbcType=INTEGER} AND songid = id
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from song
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.yaoyili.model.Song">
    insert into song
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="albumId != null">
        albumId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="mUrl != null">
        mUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="albumId != null">
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mUrl != null">
        #{mUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaoyili.model.Song">
    update song
    <set>
      <if test="albumId != null">
        albumId = #{albumId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mUrl != null">
        mUrl = #{mUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>